body{
    color: #0000ff;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
}

#cabecera{
    background: mediumslateblue;
    color:#fff;
    padding: 1em;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}
#cabecera #tagline{
    font-weight: bold;
    font-size: 0.8em ;
    margin: 0 0 0 1em ;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;

    border: 1px solid #000;

    margin: 0 auto;

}
#container h1{
    font-size: 20px;
}

#post{
    padding: 1em;
}